<!-- input event / ngModel -->
<label for="">keyup</label>
<input type="text" (keyup)="onKey($event)">

<label for="">ngModel</label>
<input type="text" [(ngModel)]="name">
{{name}}

<!-- date pipe -->
<p>The hero's birthday is {{ birthday | date:format | uppercase }}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<!-- 自訂pipe -->
<h2>Power Booster</h2>
<p>Super power boost: {{2 | exponentialStrength: 10}}</p>

<div>Normal power: <input [(ngModel)]="power"></div>
<div>Boost factor: <input [(ngModel)]="factor"></div>
<p>
    Super Hero Power: {{power | exponentialStrength: factor}}
</p>

<!-- dynamic-component-loader -->
<app-ad-banner [ads]="ads"></app-ad-banner>